
@font-face {
  font-family: 'OldHungarian';
  src: url('../fonts/oldHungarian/OldHungarian.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/oldHungarian/OldHungarian.woff') format('woff'), 
  url('../fonts/oldHungarian/OldHungarian.ttf')  format('truetype'),
  url('../fonts/oldHungarian/OldHungarian.svg#OldHungarian') format('svg');
  font-weight: normal;
  font-style: normal;
}
